<div *ngIf="customer">

  <div class="row">
    <div class="col-sm-2">
      <label>Name:</label>
    </div>
    <div class="col-sm-6">
      <input #customerName value="{{customer.name}}"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label>Address:</label>
    </div>
    <div class="col-sm-6">
      <input #customerAddress value="{{customer.address}}"/>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-2">
      <label>Phone number:</label>
    </div>
    <div class="col-sm-2">
      <input #customerPhone value="{{customer.phone}}"/>
    </div>
  </div>

  <hr>

  <button class="btn btn-secondary"
    (click)="goBack()">
    <i class="mi mi-arrow-back"></i>
    Back
  </button>

  <button class="btn btn-primary"
    (click)="updateCustomer(customerName.value, customerAddress.value, customerPhone.value); 
      customerName.value=''; customerAddress.value=''; customerPhone.value=''">
    Update customer
  </button>
</div>



