<div *ngIf="customer">
  <h2>{{ customer.name | uppercase }} Details</h2>
  <div><span>id: </span>{{customer.id}}</div>
  
  <label>Customer name:
    <input #customerName value="{{customer.name}}"/>
  </label>
  <label>Customer address:
    <input #customerAddress value="{{customer.address}}"/>
  </label>
  <button (click)="updateCustomer(customerName.value, customerAddress.value); customerName.value=''; customerAddress.value=''">
    update
  </button>
</div>

<button (click)="goBack()">go back</button>

